:root{
    --main-background-color:black;
    --main-title-color: rgb(56, 69, 250);
    --main-border-color:rgb(36, 44, 155);
    --main-text-color: white;
    --main-text-font:'Courier New', Courier, monospace;
}


* {
    padding:0;
    margin:0;
}

body {
    background-color: var(--main-background-color);
    color:var(--main-text-color);
}

header {
    display:flex;
    flex-direction: column;
    width:100%;
}

header nav {
    background-color: rgb(65, 64, 64);
    flex-direction: row;
    font-family: var(--main-text-font);
    display:flex;
    width:100%;
    height:70px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px var(--main-border-color) solid;
}

.nav-element {
    width:33%;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(65, 64, 64) ;
    z-index:2;
}

.nav-element h4 {
    text-decoration: var(--main-border-color) underline;
    color:var(--main-text-color);
    transition: all 0.3s;  
}

.nav-element h4:hover {
    cursor:pointer;
    color:var(--main-title-color);
    text-decoration: black underline;
    transition: all 0.3s;
}

.nav-element-description {
    font-size: 0.8em;
    z-index: -1;
    padding: 5px 0px;
    background-color: rgb(87, 87, 87);
    flex-direction: column;
    position: fixed;
    display:flex;
    text-align: center;
    top: -70px;
    border-radius: 0px 0px 5px 5px;
    width:15%;
    min-height: 10%;
    border-bottom: 2px var(--main-border-color) solid;
}
#nav-element-description1{
    left:9%;
}
#nav-element-description2{
    left:42.5%;
}
#nav-element-description3{
    left:75.5%;
}

.nav-element-description p {
    margin:auto;
}
.nav-element-description h4 {
    padding-bottom: 5px;
}
.nav-element-description ul {
    margin-left: 20%;
    text-align: left;
    list-style-type:none;
}
/* 
.slideshow {
    position:absolute;
    top:0;
    z-index: -1;
    background-color: gray;
    height: 100%;
    width:100%;
}
.slideshow filter {
    z-index: 2000000;
    height: 100%;
    width:100%;
    display:flex;
    background-color: rgb(0, 0, 0);
} */